//align-elements
@mixin align-elements($display, $vertical, $horizontal) {
  display: $display;
  justify-content: $vertical;
  align-items: $horizontal;
}

//config btn
@mixin btn-config-styles($font-size) {
  font-size: $font-size;
	background-color: $primary-color-beige-one;
  color: #fff;
  border-radius: 10px;
  border: none;
  text-align: center;

	&:hover {
    background-color: $primary-color-beige-two;
  }

  &:focus {
    border: none !important;
    background-color: $primary-color-beige-three !important;
  }
}

//excluir
@mixin btn-config {
  background-color: $primary-color-beige-one;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  text-align: center;

  &:hover {
    background-color: $primary-color-beige-two;
  }

  &:focus {
    border: none !important;
    background-color: $primary-color-beige-three !important;
  }
}

//config-textarea
@mixin comment-text {
  background-color: $primary-color-bg-comment;
  padding: 15px 35px;
  border-radius: 5px;
  width: 100%;
}

//mixin animations
@mixin animationEmerge {
  @keyframes emerge {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-25%);
    }
    100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

@mixin animationRoar {
  @keyframes roar {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}
