.box-modal {
  padding: 0 30px;
  background-color: #212121;
  width: 600px;
  position: absolute;
  z-index: 3000;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.593);
  animation: downSlide .1s;

  @keyframes downSlide {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  svg {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid transparent;
    transition: .4s ease-in-out;

    &:hover {
      border-radius: 100%;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  .header-modal {
    padding: 30px 0;
  }

  .avatar-container {
    @include align-elements(flex, center, center);

    .roll {
      width: 70px;
      height: 70px;
      margin: 0 20px;
      
      img {
        border-radius: 100%;
        width: 100%;
        border: 5px solid transparent;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
          border: 5px solid #d36643;
          box-shadow: 0 0 5px #d36643;
        }
      }

    }
  }


  .container-btn-modal {
    text-align: center;
    padding: 40px 0 30px 0;

    button {
      margin: 0 7px;
      color: #fff;
      padding: 5px 20px;
      border: none;
      background-color: #d36643;

      &:first-child {
        background-color: #474747;
      }
    }
  }
}