//trailer btn
.btn-trailer-container {
  margin-bottom: 10px;

  .trailer-btn {
    background-color: $primary-color-beige-one;
    border: 1px solid $primary-color-beige-one;
    border-radius: 10px;
    padding: 10px 0 10px 20px;
    width: 210px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: start;
  
    svg {
      font-size: 30px;
      margin-right: 31px;
    }
  }
}