.container-full {
	position: relative;
	max-width: 100%;
  margin: 0 auto 50px;


	.carousel__slide {
		overflow: hidden;

		.carousel-card {
			width: 240px;
			height: 330px;
			display: flex;
			flex-wrap: wrap;

			.image-container {
				width: 100%;
				height: 100%;

				@include breakpoints(1100px) {
					margin: 0 5px;
					width: 280px;
					height: 280px;
				}

				@include breakpoints(960px) {
						width: 300px;
						@include align-elements(flex, center, center);
				}

				@include breakpoints(600px) {
						margin: 0 5px;
				}

				img {
					width: 100%;
					height: 100%;
					flex-shrink: 0;

					@include breakpoints(1100px) {
						width: 280px;
						margin: 0 5px;
					}

					@include breakpoints(960px) {
							margin: 0 5px;
							width: 250px;
							text-align: center;
					}

					@include breakpoints(842px) {
							margin: 0 5px;
							width: 200px;
							height: 200px;
					}

					@include breakpoints(600px) {
							width: 170px;
							height: 170px;
					}

					@include mobile {
							width: 160px;
					}

					@include breakpoints(382px) {
							width: 145px;
					}
				}
			}
		}

		.info-movies {
			font-family: 'Nunito', sans-serif;
			color: #fff;
			margin: 30px 0 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: 110px;

			p {
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
}

.icon-style {
	@include align-elements(flex, center, center);
	background-color: $primary-color-black-bg-icon;
	color: $secondary-color-one;
	padding: 5px;
	border-radius: 100%;
}

.position-left {
	position: absolute;
	right: 100%;

	@include breakpoints(1265px) {
			display: none;
	}
}

.position-rigth {
	position: absolute;
	left: 100%;

	@include breakpoints(1265px) {
			display: none;
	}
}
