.comments-container { 
    .text-color {
        color: white;
    }

    .avatar-container {
        width: 15%;
        @include align-elements(flex, flex-end, center);
    }
    
    .content-fields-comments {
        width: 80%;
        
        h5 {
            @extend .text-color;
        }
        
        .comment-text {
            @include comment-text;
        }
        
        .info-comments {
            display: flex;
            
            h6 {
                @extend .text-color;
            }
            
            .info-comments-content {
                @include breakpoints(840px) {
                    width: 100%;
                }
        
                @include mobile {
                    font-size: 12px;   
                }

                .items-color {
                    color: $orange-color-one;
                    font-weight: 500;

                    p {
                        margin: 0 5px 10px;
                    }

                    .like-icon {
                        @extend .items-color;
                        cursor: pointer;
                    }
                }

                h6 {
                    @extend .items-color;
                    margin: 0 10px;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .btnsEdit {
                display: flex;
                justify-content: space-between;
                width: 28%;
            
                .saveBE {
                    background-color: $primary-color-beige-one;
                    border-color: $primary-color-beige-one;
            
                    &:hover {
                        background-color: $primary-color-beige-two;
                    }
            
                    &:active {
                        background-color: $primary-color-beige-three;
                    }
                }
            }
        }
    }

    .modal-actions {
        width: 5%;
        margin-top: 25px;
        @include align-elements(flex, center, flex-start);
        
        .actions {
            margin: 0;
            
            .icon-menu {
                font-size: 30px;
                color: white;
                cursor: pointer;
            }

            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-menu {
                background-color: $primary-color-black-bg-icon;
            
                .dropdown-item {
                    color: white;
            
                    .iconDrop {
                        color: $primary-color-bg-comment !important;
                        font-size: 25px;
                    }
            
                    &:hover {
                        background-color: $primary-color-icon;
                    }
            
                    &:active {
                        background-color: $primary-color-icon;
                    }
                }
            }
        }
        
        .iconDrop {
            color: $primary-color-bg-comment !important;
            font-size: 25px;
        }
    }

    .response-reply {
        margin-top: 20px;
        width: 90%;
        display: flex;
        
        .avatar-reply {
            width: 100%;
            margin-top: 30px;
            margin-right: 15px;
            @include align-elements(flex, flex-end, flex-start);
        }

        .info-reply {
            display: flex;
            flex-direction: column;
           
            h5, h6 {
                @extend .text-color;
            }
    
            .comment-text {
                @include comment-text;
            }

            .items-color {
                color: $orange-color-one;
                font-weight: 500;

                p {
                    margin: 0 5px 10px;
                }

                .like-icon {
                    cursor: pointer;
                }
            }
        }
    }

    .response-coment {   
        width: 90%;
        padding-right: 6%;
        margin-top: 20px;

        .comment-text {
            background-color: $primary-color-bg-comment;
            padding-left: 35px;
            padding-right: 35px;
            border-radius: 5px;
            width: 100%;
            height: 150px;
        }

        .btn-comment {
            background-color: $primary-color-beige-one;
            border-color: $primary-color-beige-one;
        
            &:hover {
                background-color: $primary-color-beige-two;
            }
        
            &:active {
                background-color: $primary-color-beige-three !important;
            }
        }

        .viewmore {
            color: $orange-color-one;
            text-decoration: underline;
            cursor: pointer;
            padding-right: 7%;
        
            &:hover {
                color: $orange-color-two;
            }
        }
    }
}

.viewmore {
    color: $orange-color-one;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 7%;

    &:hover {
        color: $orange-color-two;
    }
}

.boxYourComment {
    padding-right: 5%;
    
    .avatar-comment {
        margin-top: 30px;
        @include align-elements(flex, center, center);

    }

    h5, h6 {
        color: #fff;
    }

    .comment-text {
        background-color: $primary-color-bg-comment;
        padding-left: 35px;
        padding-right: 35px;
        border-radius: 5px;
        width: 100%;
        height: 150px;
    }

    .btn-comment {
        background-color: $primary-color-beige-one;
        border-color: $primary-color-beige-one;
    
        &:hover {
            background-color: $primary-color-beige-two;
        }
    
        &:active {
            background-color: $primary-color-beige-three !important;
        }
    }

}
