.layout-container {
  background-color: $primary-color-black-bg;
  background-image: url('/img/Header-Background-grad.png');
  background-repeat: no-repeat;
  background-size: 100%;

  @include mobile {
    background-size: 180%;
    background-position: center top;
  }

  .template-container {
    padding: 0 80px;
    min-height: 150vh;

		@include breakpoints(1350px) {
			min-height: 180vh;
		}

    @include landscape {
      padding: 0 20px;
    }
  }
}
#tagGenre {
  border: 2px solid #d36643;
  border-radius: 15px;
  padding: 1px 12px;
  color: #efefef;
  @include align-elements(flex, center, center);
  transition: .2s ease-in-out;
  cursor: pointer;

  &:hover {
      background-color: #d36643;
  }
}
#genre-title{
  color: $primary-color-black-seven;
  font-size: $font-size-common;
}
