.forms-fields {
  display: flex;
  flex-direction: column;

  .input-container-style {
    margin-bottom: 15px;
    border-bottom: 2px solid $text-color-gray-one;
    width: 100%;
    padding: 5px 0;
  
    svg {
      margin-right: 12px;
      color: $primary-color-icon;
      font-size: 20px;
      animation: emerge .3s ease-in-out;

      @include animationEmerge;
    }

    input {
      border: none;
      outline: none;
      width: 75%;
      font-size: 14px;
      animation: roar .4s ease-in-out;

      @include animationRoar;
    }

    .wd-input {
      width: 85%;
    }

    #view-icon {
      margin-right: 0;
      cursor: pointer;
    }
  }

  #mb-2 {
    margin-bottom: 3px;
  }

  .error-message {
    font-size: 10px;
    margin: 0;
    color: red;
  }

  a {
    text-decoration: underline;
    color: $text-color-gray-one;
    font-size: 13px;
    margin-top: 7px;
    margin-bottom: 31px;
    animation: roar .4s ease-in-out;

    @include animationRoar;
  }

  .btn-container {
    width: 100%;
    text-align: center; 

    button {
      margin-top: 50px;
      width: 170px;
      height: 35px;
      @include btn-config;
    }
  }
}