.navbar {
    background: linear-gradient(0deg,
            rgba(51, 51, 51, 0.082) 0%,
            rgba(0, 0, 0, 0.76) 100%) !important;

    .navbar-collapse {
        @include align-elements(flex, space-between, unset);
        width: 50% !important;

        .nav-link {
            color: white !important;
            background-color: rgba(255, 255, 255, 0) !important;

            &:focus {
                transition: 0.1s;
                background-color: rgba(255, 255, 255, 0) !important;
                border-bottom: 5px solid $primary-color-beige-two;
            }

        }
        .texto-navbar {
            padding-right: 150px !important;
        }
    }

    .name-user {
        color: white;
    }

    .dropdown-menu {
        background-color: $primary-color-black-three;

        .dropdown-item {
            color: white !important;
            &:hover {
                background-color: $primary-color-black-two;
            }
            &:focus {
                background-color: $primary-color-black-two;
            }
        }
    }
}