.avaliationTitle {
    font-size: 18px;
    color: white;
}

.vue3-star-ratings button {
    color: #D9D9D9 !important;
    padding-top: 5px;

    &:hover {
        color: white !important;
        transition: 0.2s;
    }

    &:focus {
        color: white !important;
    }
}
.BtnSalvar {
    background-color: $primary-color-beige-one;
    border-color: $primary-color-beige-one;

    &:hover {
        background-color: $primary-color-beige-two;
    }

    &:active {
        background-color: $primary-color-beige-three !important;
    }

    &:focus {
        background-color: $primary-color-beige-two;
    }
}
.btn:disabled {
    background-color: $primary-color-beige-one;
    border-color: $primary-color-beige-one;
}