.toast-success {
  font-family: 'Nunito', sans-serif;
  background-color: #2C5E20;
  color: $main-white-color;
  border-radius: 15px;
  padding: 15px 30px;
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  transition: .3s ease-in;

  p {
    margin: 0;
    font-weight: bold;
  }

  @include mobile {
    font-size: 14px;
    padding: 10px 14px;
    border-radius: 7px;
    min-width: 80%;
  }
}