.window-modal {
  background-color: rgba(0, 0, 0, 0.793);
  width: 100vw;
  height: 100vh;
  @include align-elements(flex, center, center);
  position: fixed;
  top: 0;
  left: 0;
  animation: appear .4s ease-in-out;

  @keyframes appear {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  .iframe-content {
    width: 580px;
    height: 380px;
    background-color: #212121;
    @include align-elements(flex, center, center);
    position: relative;

    svg {
      position: absolute;
      right: 17px;
      top: 17px;
      cursor: pointer;
      font-size: 20px;
      border: 1px solid transparent;
      transition: .4s ease-in-out;

      &:hover {
        border-radius: 100%;
        color: #fff;
        border: 1px solid #fff;
      }
    }

    iframe {
      width: 85%;
      height: 80%;
    }
  }
}