.window-modal {
  background-color: rgba(0, 0, 0, 0.793);
  width: 100vw;
  height: 100vh;
  @include align-elements(flex, center, center);
  position: fixed;
  top: 0;
  left: 0;

  .iframe-content {
    width: 500px;
    height: 300px;
    
    iframe {
      border-radius: 20px;
      width: 100%;
      height: 100%;
    }
  }
}