// primary colors beige
$primary-color-beige-one:#D36643;
$primary-color-beige-two: #E57450;
$primary-color-beige-three: #F37E58;
$primary-color-beige-four: #F98D6C;
$primary-color-beige-five: #FF9C7D;
$primary-color-beige-six: #FFA88C;
$primary-color-beige-five: #FFBBA6;

// primary colors black
$primary-color-black-bg: #3f3f3f;
$primary-color-black-one: #333333;
$primary-color-black-two: #515050;
$primary-color-black-three: #636363;
$primary-color-black-four: #777473;
$primary-color-black-five: #969494;
$primary-color-black-six: #C3C1C1;
$primary-color-black-seven: #DCDCDC;

// secondary colors
$secondary-color-one: #009ACC;
$secondary-color-two: #05AAE0;
$secondary-color-three: #09BCF5;
$secondary-color-four: #64CAEB;

// danger color
$danger-color: #FC1919;

// success color
$success-color: #2C5E20;

//typography color
$text-color-gray-one: #707070;

//fonts setup
$font-size-title: 40px;
$font-size-subtitle: 25px;
$font-size-common: 20px;
$font-size-small: 14px;

//font weight
$font-weight-bold: bold;
$font-weight-semibold: 500;
$font-weight-regular: normal;

// fonts size icons
$icon-size: 16px;

// spacing elements
$margin-layout: 0 80px;
