.container-fv {
  background-color: $primary-color-black-bg;
  min-height: 100vh;
  color: $main-white-color;

  .favorite-container {
    padding: 0 80px;
    
    .title {
      margin-top: 50px;
      padding: 0 80px;
      font-family: 'Nunito', sans-serif;
      font-weight: bold;
    }

    .description {
      font-family: 'Nunito', sans-serif;
      color: $main-white-color;
    
      p {
        padding: 0 80px;
        font-size: 18px;
        margin-top: 30px;

        span {
          display: block;
          margin-top: 25px;
        }
      }
    }

    .icon-delete {
      font-size: 24px;
      color: white;
      cursor: pointer;
      transition: .2s ease-in;

      &:hover {
        color: $primary-color-beige-hr;
      }
    }

    .card-info {
      h4 {
        font-family: 'Nunito', sans-serif;
      }
      .duration {
        color: $main-white-color;
      }  
      .text-color {
        color: $primary-color-black-six;
      }
    }

    .sinopse { 
      h4 {
        font-family: 'Nunito', sans-serif;
      }

      p {
        color: $primary-color-black-six;
      }

      .view-more {
        cursor: pointer;
        color: $main-white-color;
        padding-right: 0;
        text-decoration: underline $main-white-color;
      } 
    }

  }
}