.home-field {
  h1 {
    font-family: 'Nunito', sans-serif;
    margin-top: 20%;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .home-carousel {
    width: 100%;
  }
}