.screen {
  background-image: url(img/bg-movies-banner.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  
  .content {
    margin: 0 80px;
    min-height: 100vh;
    @include align-elements(flex, center, center);

    .form-container {
      padding: 20px 100px 40px;
      background-color: #fff;
      color: #000;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      
      .container-logo {
        text-align: center;
        margin-bottom: 15px;
  
        img {
          width: 180px;
        }
      }

      .container-links {
        font-family: 'Nunito', sans-serif;
        @include align-elements(flex, space-between, unset);
        margin: 20px 0 40px 0;
        font-size: 25px;
      }
  
      .slide-controls {
        position: relative;
        @include align-elements(flex, space-between, unset);
        height: 50px;
        width: 100%;
        overflow: hidden;
  
        .slide {
          @include align-elements(flex, space-between, unset);
          height: 100%;
  
          color: $secondary-color-one;
          font-size: 25px;
          text-align: center;
          line-height: 48px;
          cursor: pointer;
          z-index: 1;
          transition: all .6s ease;
        }
  
        label.register {
          color: $text-color-gray-one;
        }
  
        input[type="radio"] {
          display: none;
        }
  
        .slider-tab {
          position: absolute;
          height: 80%;
          width: 40%;
          left: 0;
          z-index: 0;
          border-bottom: 2px solid $secondary-color-one;
          transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
  
        #register:checked~.slider-tab {
          left: 60%;
        }
  
        #enter:checked~.slider-tab {
          left: -15%;
        }
  
        #register:checked~label.register {
          color: $secondary-color-one;
          cursor: default;
          user-select: none;
        }
  
        #register:checked~label.enter {
          color: $text-color-gray-one;
        }
        
        #enter:checked~label.register {
          color: $text-color-gray-one;
        }
      }
    }
  }
}