.screen {
  background-image: url(img/bg-movies-banner.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  
  .content {
    margin: 0 80px;
    min-height: 100vh;
    @include align-elements(flex, center, center);
  }

  form {
    padding: 40px 100px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    .container-logo {
      text-align: center;
      margin-bottom: 20px;

      img {
        width: 170px;
      }
    }
    
    .container-links {
      font-family: 'Nunito', sans-serif;
      @include align-elements(flex, space-between, unset);
      margin: 20px 0 40px 0;
      font-size: 25px;
    }

    .forms-fields {
      display: flex;
      flex-direction: column;

      .input-container-style {
        margin-bottom: 28px;
        border-bottom: 2px solid $text-color-gray-one;
        width: 100%;
      
        svg {
          margin-right: 12px;
          color: $primary-color-icon;
          font-size: 18px;
        }
  
        input {
          border: none;
          outline: none;
          width: 80%;
        }

        #view-icon {
          margin-right: 0;
          cursor: pointer;
        }
      }

      .btn-container {
        width: 100%;
        text-align: center; 

        button {
          margin-top: 75px;
          width: 185px;
          height: 38px;
          background-color: $primary-color-beige-one;
          color: #fff;
          border-radius: 10px;
          border: none;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}