.search-components {
    display: flex;
    justify-content: flex-start;
    margin-top: 20%;

    @include breakpoints(1180px) {
        flex-direction: column-reverse;
        width: 100%;
    }    
    
    .resize-filter {
        width: 15%;
        margin-right: 47px;
        border-radius: 20px;
        color: #fff;
        
        @include breakpoints(1180px) {
            
        }    
    }
}